@font-face {
    font-family: Montserrat; 
    src: url('../../fonts/Montserrat.ttf');
  }
  
@media screen and (max-width: 720px) {
    * {
        box-sizing: border-box;
    }

    #header {
        top: 0;
    }
    
    #pf_title .pf_title_p{
        color: #000000;
        font-family: Montserrat, Sans-serif;
        font-size: 7vw;
        font-weight: 600;
        list-style-type: none;
    }

    #pf_title {
        display: flex;
        top: 18vw;
        width: 80%;
        margin: 0 auto;
        position: relative;
    }

    #pf_title .div_seperator_pf {
        border: solid 1.5px #437353;
        list-style-type: none;
        width: 22vw;
        background: #437353;
    }

    #content_pf {
        display: block;
        width: 80%;
        top: 23vw;
        position: relative;
        margin: 0 auto;
    }

    #content_pf img {
        max-width: 24.7vw;
        cursor: pointer;
    }

     #content_pf .card {
        position: relative;
        display: inline-block;
        margin-bottom: 1.2vw;
     }

    .pf_text_holder {
        position: absolute;
        display: block;
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        padding: 0 20px;
        background-color: #fff;
        overflow: hidden;
        box-sizing: border-box;
    }

    .pf_text_holder .title{
        font-size: 2vw;
        line-height: 1.225em;
        font-weight: 700;
        color: #1d1d1d;
        font-family: Montserrat, Sans-serif;
        margin: 0.5vw 0 0 0;
    }

    .pf_text_holder .type{
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: #777;
        margin: 0 0 0.5vw 0;
    }

    #footer {
        top: 30vw;
        position: relative;
        background: black;
        left: 0;
        width: 100%;
        height: 20vw;
        display: flex;
      }
    
      #footer #copyright {
        width: 100%;
        position: absolute;
        margin: 15% auto;
        color: white;
        text-align: center;
        font-size: 2.5vw;
      }
    
      #footer .link-pages {
        width: 100%;
        margin: 4% auto 0 auto;
        position: absolute;
        text-align: center;
      }
    
      #footer .link-pages a img {
        height: 6vw;
        width: 6vw;
        margin-right: 10px;
        border: none;
      }
}