@font-face {
    font-family: Montserrat; 
    src: url('../../fonts/Montserrat.ttf');
  }
  
@media screen and (max-width: 720px) {
    * {
        box-sizing: border-box;
    }

    .about-school-section {
        top: 25vw;
        position: relative;
        left: 0;
        width: 90%;
        margin: 0 auto;
    }

    .about-school-logo {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    .about-school-logo img{
        width: 40vw;
    }

    .about-school-text {
        text-align: center;
    }

    .about-school-text h2 {
        color: #437353; 
        font-family: Montserrat, Sans-serif; 
        font-size: 24px; 
        font-weight: bold;
    }

    .about-school-text strong {
        font-family: Montserrat, Sans-serif; 
        font-size: 12px; 
        color:#777;
    }

    .about-school-text span {
        font-family: Montserrat, Sans-serif;
        font-size: 12px;
        color: #777;
    }

    .school_div {
        border: solid 0.15px #808080;
        max-width: 35px;
        margin: 0 auto;
    }

    #kdsClasses {
        left: 0;
        width: 90%;
        margin: 0 auto;
        top: 40vw;
        position: relative;
    }
    
    .graphic_design_school {
        font-family: Montserrat, Sans-serif;
        font-weight: bold;
        line-height: 30px;
        width: 100%;
    }

    .graphic_design_school_div {
        height: 3px; 
        width: 13vw; 
        background: #437353;
        margin: 0 0 10px 0;
    }

    .graphic_design_school_title span{
        font-size: 5vw;
    }

    .graphic_design_school_title {
        align-items: center;
    }

    .graphic_design_school a {
        box-shadow: none;
        text-decoration: none;
        font-family: Montserrat, Sans-serif;
        font-size: 12px;
        font-weight: bold;
    }
    
    .graphic_design_school .about_more {
        background: #437353;
        display: flex;
        font-family: Montserrat, Sans-serif;
        font-size: 12px;
        font-weight: bold;
        height: 26px;
    }

    #svglinks {
        background-color: white;
        fill: #437353;
    }

    .shareBtns a #svglinks{
        max-width: 36px;
    }

    .shareBtns {
        display: inline;
        text-align: end;
        width: 20vw;
        right: 0;
        position: absolute;
    }
    
    #footer {
        top: 50vw;
        position: relative;
        background: black;
        left: 0;
        width: 100%;
        height: 20vw;
        display: flex;
      }
    
      #footer #copyright {
        width: 100%;
        position: absolute;
        margin: 15% auto;
        color: white;
        text-align: center;
        font-size: 2.5vw;
      }
    
      #footer .link-pages {
        width: 100%;
        margin: 4% auto 0 auto;
        position: absolute;
        text-align: center;
      }
    
      #footer .link-pages a img {
        height: 6vw;
        width: 6vw;
        margin-right: 10px;
        border: none;
      }
}