@font-face {
    font-family: Montserrat; 
    src: url('../../fonts/Montserrat.ttf');
  }
  
@media screen and (max-width: 720px) {
    * {
        box-sizing: border-box;
    }
    
    .comming_soon {
        left: 0;
        width: 68%;
        margin: 0 auto;
        display: block;
    }

    .comming_soon p {
        display: inline-block;
        color: #000000;
        font-family: Montserrat, sans-serif;
        font-size: 7vw;
        font-weight: bold;
        text-align:center;
        margin-left: 12vw;
    }
    
    .comming_soon img {
        width: 100%;
    }
}