#loader {
    height: 4rem;
    display: flex;
    align-items: center;
}

#loadingScreen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: white;
    width: 100%;
    height: 100vh;
}

@keyframes loading {
    0% {
        height: 0;
    }

    50% {
        height: 100%;
    }
    
    100% {
        height: 0;
    }
}

.line {
    width: 0.3rem;
    /* height: 100%; */
    background: black;
    margin: 0 0.2rem;
    border-radius: 1rem;
    animation: loading 0.8s linear infinite;
}

.line:nth-child(2) {
    animation-delay: 0.1s;
}

.line:nth-child(3) {
    animation-delay: 0.2s;
}

.line:nth-child(4) {
    animation-delay: 0.3s;
}

.line:nth-child(5) {
    animation-delay: 0.4s;
}

.line:nth-child(6) {
    animation-delay: 0.5s;
}

.line:nth-child(7) {
    animation-delay: 0.6s;
}

.line:nth-child(8) {
    animation-delay: 0.7s;
}