@font-face {
    font-family: Roboto; 
    src: url('../fonts/Roboto.ttf');
  }
  
  @font-face {
    font-family: Cambria; 
    src: url('../fonts/Cambria.ttc');
  
  }
  
  @font-face {
    font-family: Trajan;
    src: url('../fonts/Trajan\ Pro\ 3.otf');
  
  }
  
  @media screen and (min-width: 1080px) {
    /* what_is_graphic_desgin */
    .what_is_graphic_desgin {
        padding-top: 10%;
    }

    .what_is_graphic_desgin_div {
        width: 70%;
        margin: 0 auto;
    }

    .div_seperator_what_is_graphic_desgin {
        display: flex;
        align-items: center;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 1.2vw;
        font-weight: bold;
        padding-bottom: 2%;
    }
    
    .div_seperator_what_is_graphic_desgin::before,
    .div_seperator_what_is_graphic_desgin::after {
        content: '';
        flex: 1;
    }
    
    .div_seperator_what_is_graphic_desgin:not(:empty)::before {
        border: solid 1.2px;
        max-width: 5%;
        background: #414042;
        margin-right: 1%;
    }
    
    .div_seperator_what_is_graphic_desgin:not(:empty)::after {
        border: solid 1.2px;
        max-width: 100%;
        background: #414042;
        margin-left: 1%;
    }

}