@font-face {
    font-family: Montserrat; 
    src: url('../fonts/Montserrat.ttf');
}
  
@media screen and (min-width: 1080px) {
    .about-school-section {
        left: 0;
        width: 68%;
        display: flex;
        padding-top: 10%;
        margin: 0 auto;
    }

    .about-school-logo {
        display: inline-block;
        max-width: 10vw;
        margin-right: 4vw;
    }

    .about-school-logo img{
        max-width: 100%;
        padding-right: 10%;
    }

    .about-school-text h2 {
        color: #437353; 
        font-family: Montserrat, Sans-serif; 
        font-size: 24px; 
        font-weight: bold;
    }

    .about-school-text strong {
        font-family: Montserrat, Sans-serif; 
        font-size: 19px; 
        color:#777;
    }

    .about-school-text span {
        font-family: Montserrat, Sans-serif;
        font-size: 19px;
        color: #777;
    }

    .school_div {
        border: solid 0.2px #808080;
        max-width: 30px;
    }

    #kdsClasses {
        left: 0;
        width: 68%;
        padding-top: 10%;
        margin: 0 auto;
    }
    
    .graphic_design_school {
        font-family: Montserrat, Sans-serif;
        font-weight: bold;
        line-height: 30px;
        width: 100%;
    }

    .graphic_design_school_div {
        height: 5px; 
        width: 107px; 
        background: #437353;
        margin: 10px 0;
    }

    .graphic_design_school a {
        box-shadow: none;
        text-decoration: none;
        font-family: Montserrat, Sans-serif;
        font-size: 21px;
        font-weight: bold;
    }
    
    .graphic_design_school .about_more {
        background: #437353;
        padding: 10px;
        display: flex;
        font-family: Montserrat, Sans-serif;
        font-size: 21px;
        font-weight: bold;
    }

    #svglinks {
        background-color: white;
        fill: #437353;
    }

    .shareBtns a #svglinks{
        max-width: 36px;
    }

    .shareBtns {
        display: inline;
        position: absolute;
    }
}