@font-face {
    font-family: Montserrat; 
    src: url('../fonts/Montserrat.ttf');
}
  
@media screen and (min-width: 1080px) {
    /* lets_work_section */
  .lets_work_section {
    padding-top: 5%;
    margin: auto;
    position: relative;
    width: 70%;
    height: 450px;
    margin-bottom: 30%;
  }

  .lets_work {
    width: 22vw;
    display: inline-block;
  }

  .lets_work_title {
    font-size: 1.7vw;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: flex-start;
    line-height: 1;
    color: #437353;
  }

  .lets_work_title::before {
    content: '';
    flex: 1;
  }

  .lets_work_title:not(:empty)::before {
    border: solid 0.12vw #437353;
    max-width: 4vw;
    background: #437353;
    margin-right: 5%;
    margin-top: 5%;
  }

  .lets_work_section .lets_work_text{
    margin-left: 7%;
  }

  .lets_work_section .lets_work_text p{
    color: #437353;
    font-family: Montserrat, sans-serif;
    font-size: 1.3vw;
  }

  /* contact section */
  #contact_section {
    margin-top: 7%;
  }

  #contact_section .your_name{
    line-height: 26px;
    display: flex;
    width: 100%;
  }

  #contact_section .your_name .label_name {
    min-width: 32vw;
    display: flex;
    font-size: 1.25vw;
    align-items: center;
    font-family: "Asul", sans-serif;
  }

  #contact_section .your_name #req{
    color: red;
    display: contents;
    font-size: 1.5vw;
  }

  #contact_section input {
    width: 100%;
    font-size: 0.8vw;
    line-height: 0.5;
    color: black;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #808080;
    border-radius: 0.25rem;
    max-width: 55%;
    cursor: text;
    padding: 0.7vw;
  }

  .text_area_section {
    display: inline-block;
    width: 100%;
  }

  .text_area_section .label_name{
    display: flex;
  }

  .text_area_section .contact_textarea {
    width: 100%;
  }
}