@font-face {
    font-family: Montserrat; 
    src: url('../fonts/Montserrat.ttf');
}
  
@media screen and (max-width: 1079px) { 
  body {
      display: none;
  }
}

@media screen and (min-width: 1080px) {
    /* lets_work_section */
  .lets_work_section {
    padding-top: 5%;
    
    height: 450px;
    margin-bottom: 30%;
  }

  .lets_work {
    display: inline-block;
  }

  .lets_work_title {
    font-size: 1.7vw;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: flex-start;
    line-height: 1;
    color: #437353;
    width: 22vw;
  }

  .lets_work_title::before {
    content: '';
    flex: 1;
  }

  .lets_work_title:not(:empty)::before {
    border: solid 0.12vw #437353;
    max-width: 4vw;
    background: #437353;
    margin-right: 5%;
    margin-top: 5%;
  }

  .lets_work_section .lets_work_text{
    margin-left: 7%;
  }

  .lets_work_section .lets_work_text p{
    color: #437353;
    font-family: Montserrat, sans-serif;
    font-size: 1.3vw;
  }

  /* contact section */
  #contact_section {
    margin-top: 7%;
  }

  #contact_section .your_name{
    line-height: 26px;
    display: flex;
    width: 100%;
  }

  #contact_section .your_name .label_name {
    min-width: 32vw;
    display: flex;
    font-size: 1.25vw;
    align-items: center;
    font-family: "Asul", sans-serif;
  }

  #contact_section .your_name #req{
    color: red;
    display: contents;
    font-size: 1.5vw;
  }

  #contact_section input {
    width: 100%;
    font-size: 0.8vw;
    line-height: 0.5;
    color: black;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #808080;
    border-radius: 0.25rem;
    max-width: 55%;
    cursor: text;
    padding: 0.7vw;
  }

  .text_area_section {
    display: inline-block;
    width: 100%;
  }

  .text_area_section .label_name{
    display: flex;
    font-family: "Asul", sans-serif;
    font-size: 1.25vw;
  }

  .text_area_section .contact_textarea {
    min-width: 100%;
    max-width: 100%;
    font-size: 0.8vw;
    padding: 0.7vw;
    resize: none;
    border: 1px solid #808080;
    border-radius: 0.25rem;
    height: auto;
  }

  .text_area_section .contact_send_btn {
    border-radius: 0.25rem;
    margin-top: -60px;
    max-width: 100%;
    width: 100%;
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-size: 0.8vw;
    background-color: #313636;
    border: 0 solid #000;
    cursor: pointer;
    padding: 20px;
  }

  .we_waiting {
    margin-top: 5%;
    display: flex;
    margin-bottom: 5%;
  }

  .we_waiting_text img {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
  }

  .we_waiting_text {
    width: 50%;
  }

  .contact_email_number {
    width: 50%;
    text-align: end;
  }

  .contact_map iframe {
    filter: brightness( 66% ) contrast( 200% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
  }
}